td {font-size: 9pt; color: #000000}
A {color: #0000CC; font-size: 9pt}
A:hover {text-decoration: underline; color: #FF0000; font-size: 9pt}
.fontb {  font-size: 9pt; color: #000000; text-decoration: underline}
TD
{
    FONT-FAMILY: "ו";
    FONT-SIZE: 9pt
}
.font {  font-size: 9pt; color: #FF3300; text-decoration: none}
