<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <filter>
    <filter-name>setcharacterencodingfilter</filter-name>
    <filter-class>com.aspire.ponaadmin.web.system.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setcharacterencodingfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!--统一管理门户鉴权拦截器配置    start -->
   <filter>
        <filter-name>authorize</filter-name>
		<filter-class>com.aspire.mm.common.client.mportal.filter.SubsystemAuthorizeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authorize</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authorize</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>   
    <filter-mapping>
        <filter-name>authorize</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>  
 
<!--统一管理门户鉴权拦截器配置 end-->


   <filter>
        <filter-name>XssFilter</filter-name>
		<filter-class>com.aspire.common.filter.XssFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

  <servlet>
    <servlet-name>SystemInitorServlet</servlet-name>
    <servlet-class>com.aspire.ponaadmin.web.system.SystemInitorServlet</servlet-class>
    <init-param>
      <param-name>mportalConfigFile</param-name>
      <param-value>/conf/mportal-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>webServer</param-name>
      <param-value>tomcat</param-value>
    </init-param>
    <init-param>
      <param-name>systemName</param-name>
      <param-value>ssms</param-value>
    </init-param>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/conf/system-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>logConfig</param-name>
      <param-value>/conf/log4j.xml</param-value>
    </init-param>
    <init-param>
      <param-name>logRefresh</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>errmsgConfig</param-name>
      <param-value>/conf/error.properties</param-value>
    </init-param>
    <init-param>
      <param-name>persistence-config</param-name>
      <param-value>/conf/persistence.properties</param-value>
    </init-param>
    <init-param>
      <param-name>sql-config</param-name>
      <param-value>/conf/sql.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>showVersionServlet</servlet-name>
    <servlet-class>com.aspire.ponaadmin.web.system.StartupVersionShowServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tree</servlet-name>
    <servlet-class>com.aspire.ponaadmin.web.tree.DataTreeG</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QueryMusicDataServlet</servlet-name>
  	<servlet-class>com.aspire.ponaadmin.web.music139.query.QueryMusicDataServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryMusicDataServlet</servlet-name>
  	<url-pattern>/servlet/queryMusicDataServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>QueryNewMusicServlet</servlet-name>
  	<servlet-class>com.aspire.ponaadmin.web.newmusic139.QueryNewMusicServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QueryNewMusicServlet</servlet-name>
  	<url-pattern>/servlet/queryNewMusicServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- 新的消息接口 -->
    <servlet>
  	<servlet-name>UnifiedPackageMessagesServlet</servlet-name>
  	<servlet-class>com.aspire.dotcard.syncAndroid.unifiedPackage.servlet.UnifiedPackageMessagesServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UnifiedPackageMessagesServlet</servlet-name>
  	<url-pattern>/servlet/unifiedPackageMessagesServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BaseVideoProgramServlet</servlet-name>
  	<servlet-class>com.aspire.dotcard.baseVideo.servlet.BaseVideoProgramServlet</servlet-class>
  	<load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BaseVideoProgramServlet</servlet-name>
  	<url-pattern>/video/deleteProgram</url-pattern>
  </servlet-mapping>
  
  <!-- M盟servlet -->
  <servlet>
  	<servlet-name>MUnionServlet</servlet-name>
  	<servlet-class>com.aspire.ponaadmin.web.thridinterface.munion.servlet.MUnionServlet</servlet-class>
  	<load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MUnionServlet</servlet-name>
  	<url-pattern>/servlet/updateCategory</url-pattern>
  </servlet-mapping>
    <!-- M盟servlet -->
  <servlet>
  	<servlet-name>CategoryOpertionServlet</servlet-name>
  	<servlet-class>com.aspire.ponaadmin.web.thridinterface.munion.servlet.CategoryOpertionServlet</servlet-class>
  	<load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CategoryOpertionServlet</servlet-name>
  	<url-pattern>/servlet/categoryHandle</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>APPInfoServlet</servlet-name>
  	<servlet-class>com.aspire.dotcard.syncAndroid.ppms.APPInfoServlet</servlet-class>
  	<load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>APPInfoServlet</servlet-name>
  	<url-pattern>/servlet/appInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CategoryOperationServlet</servlet-name>
  	<servlet-class>com.aspire.ponaadmin.web.repository.web.CategoryOperationServlet</servlet-class>
  	<load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CategoryOperationServlet</servlet-name>
  	<url-pattern>/servlet/sendSynData</url-pattern>
  </servlet-mapping>
  
  <!-- 2015-05-22 添加 验证码  begin -->
  <servlet>
    <servlet-name>GenerateVerifyImg</servlet-name>
    <servlet-class>com.aspire.common.util.GenerateVerifyImg</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GenerateVerifyImg</servlet-name>
    <url-pattern>/randomNumImg</url-pattern>
  </servlet-mapping>
  <!-- end  -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tree</servlet-name>
    <url-pattern>/tree</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>swf</extension>
    <mime-type>application/x-shockwave-flash</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xlt</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ppt</extension>
    <mime-type>application/vnd.ms-powerpoint</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rm</extension>
    <mime-type>audio/x-pn-realaudio</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>tar</extension>
    <mime-type>application/x-tar</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/x-rar-compressed</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>cer</extension>
    <mime-type>application/x-x509-ca-cert</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>exe</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>midi</extension>
    <mime-type>audio/midi</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>bmp</extension>
    <mime-type>image/x-xbitmap</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wbmp</extension>
    <mime-type>image/vnd.wap.wbmp</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>tiff</extension>
    <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>tif</extension>
    <mime-type>image/tiff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jar</extension>
    <mime-type>application/x-java-archive</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>wav</extension>
    <mime-type>audio/x-wav</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mpeg</extension>
    <mime-type>video/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mpg</extension>
    <mime-type>video/mpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>mov</extension>
    <mime-type>video/quicktime</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>avi</extension>
    <mime-type>video/x-msvideo</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>chm</extension>
    <mime-type>application/mshelp</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>/web/index.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>message</taglib-uri>
    <taglib-location>/WEB-INF/tld/message.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>pager</taglib-uri>
    <taglib-location>/WEB-INF/tld/pager.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>right</taglib-uri>
    <taglib-location>/WEB-INF/tld/right.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-bean</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-html</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-logic</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-template</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-tiles</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-nested</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
  </taglib>
 
  	
  	
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/ssms</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth> 
		<res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref> 
</web-app>
